@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

header {
    background-color: #10BBD5;
    position: sticky;
    top: 0;
    left: 0;



}

body {
    background-color: #EEEEEF;
}

img {
    display: block;
    max-width: 100%;
}

#header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#brand {
    display: flex;
    align-items: center;

}

#header-card {
    display: flex;
    align-items: center;
}

main {
    background-color: #fff;


}

#filters {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

ul {
    list-style: none;
    display: flex;
    gap: 10px;


}

#brand-text {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: #fff;



}


.main-name {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
    padding-top: 32px;
}

.main-line {
    display: flex;
    margin: 0 52px 24px 52px;
    width: 1296px;
    flex-shrink: 0;
    border: 1px solid #A8A8A8;
}

.directory {
    display: flex;
    flex-wrap: wrap;
    width: 1296px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 52px;
    margin-bottom: 208px;
}

#main-content {
    background-color: #FFFFFF;
    


}


.text-black {
    color: #000;
}


.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #A8A8A8;
    padding-top: 24px;
    gap: 24px;


}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.menu {
    background-color: #fff;
}

.main-item {
    display: flex;
    flex-direction: column;
    width: 306px;
    padding: 32px 32px;
    background-color: #fff;
    position: relative;
}

.main-section {
    background-color: #EEEEEF;
}

.main-btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: var(--eggplant, #4C394E);
    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-top: 10px;
}

.main-btn:hover {
    background: #4D762D;

}

.main-price {
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 133.333% */

}

.main-text {
    overflow: hidden;
    color: var(--gray, #8E8E8E);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-bottom: 8px;
    

}

.main-title {
    overflow: hidden;
    color: var(--black, #1F1F1F);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 140% */
    margin-top: 16px;
    border-bottom: 1px solid #A8A8A8;

}

.text-1-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #4200FF;
    position: relative;
    position: absolute;
    top: 20px;
    left: 24px;
}

.text-2-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #AF39E7;
    position: relative;
    position: absolute;
    top: 20px;
    left: 24px;
}

.text-3-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #4200FF;
    position: relative;
    position: absolute;
    top: 20px;
    left: 24px;
}
    

.text-3-off-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    position: absolute;
    top: 20px;
    left: 72px;
    
    
}
  
    
    


.main-price {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.main-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}



.text-5-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #4200FF;
    position: relative;
    position: absolute;
    top: 20px;
    left: 24px;
    
}

.text-5-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    position: absolute;
    top: 20px;
    left: 72px;
    
}

.text-6-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #AF39E7;
    position: relative;
    position: absolute;
    top: 20px;
    left: 24px;
 }

.text-6-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    position: absolute;
    top: 20px;
    left: 72px;
}

.text-7-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #4200FF;
    position: relative;
    position: absolute;
    top: 20px;
    left: 24px;
}

.text-7-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    position: absolute;
    top: 20px;
    left: 72px;
}

.text-11-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #AF39E7;
    position: relative;
    position: absolute;
    top: 20px;
    left: 24px;

}

.text-10-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    position: absolute;
    top: 20px;
    left: 24px;
}

.text-11-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #AF39E7;
    position: relative;
    position: absolute;
    top: 20px;
    left: 24px;
}


.text-11-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    position: absolute;
    top: 20px;
    left: 72px;
}

.old-3-price {
    font-size: 24px;
    color: #8E8E8E;
    font-weight: 500;
    text-decoration: line-through;
   



}

.menu-content-2-list {
    color: #0000;
    font-weight: 500;
}

.icon-btn-main {
    width: 64.2px;
    height: 64.2px;
    flex-shrink: 0;
    align-items: center;
    background-color: #10BBD5;
    border-radius: 100%;
    position: sticky;
    




}

.btn-main {
    background: none;
    position: fixed;
    flex-shrink: 0;
    z-index: 10px;
    border-radius: 50%;
    top: 745px;
    right: 250px;
   

   

    
}

.footer {
    display: flex;
    width: 100%;
    height: 88px;
    flex-shrink: 0;
    background: #4C394E;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    right: auto;


}

.footer-head {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    margin-left: 52px;
}

.footer-end {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    margin-right: 52px;
}